/* Common Elements */
*{
    margin: 0PX;
    padding: 0PX;
    box-sizing: border-box;
}

.servicesh1{
    font-family: 'Lobster', cursive;
    color: brown;
    text-align: center;
    font-size: 45px;
}



#top{
    position: fixed;
    right: 30px;
    bottom: 30px;
}

.hr1{
    border: 2px;
    border-color: rgb(239, 46, 46);
    border-style: solid;
    margin: 0;
    opacity: 1;
}
.maintitle{
    font-family: 'Lobster', cursive;
    color: white;
    font-size: 110px;
    text-align: center;
}

.subtitle1 {
    font-family: 'Lobster', cursive;
    color: white;
    font-size: 25px;
    text-align: center;
}
.subtitle2 {
    font-family: 'Lobster', cursive;
    color: rgb(255, 255, 255);
    font-size: 45px;
    text-align: center;
}


/* Navigation Bar CSS starts */


#navbar{
    display: flex;
    background-color: rgb(190, 117, 117);
    height: 80px;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: sticky;
    top: 0px;
}

/* logo  */

#logo{
    width: 15%;
    
}

#logoimg{
    height: 55px;
    margin: 12px 40px;
   border-radius: 22px;
}

/* Navigation Links  */

#navlinks{    
    width: 70%;
      
}

#links{
    display: flex;
    list-style: none;
    /* text align center  */
    justify-content: center;
}

.linkitem{

}

.linka{
    padding: 10px;
    margin: 15px;
    border-radius: 20px;
    text-decoration: none;
    color: white;
    font-size: 22px;
}

.linka:hover{
    background-color: azure;
    color: grey;
    transition: 1s;
}

.currentpage{
    border: 2px solid white; 
    border-radius: 20px
}

/* Social Media Links  */

#socialmedia{
    margin: auto;
}
#socialmedia img{
    border-radius: 30px;

} 

#socialmedia img:hover{
    transform: scale(1.2);
    box-shadow: 0px 0px 25px 0px rgb(248, 248, 248); 
    transition: 1s;
}

    

/* Navigation Bar CSS ends */

/* Home content CSS starts here  */

#Homecontent{
    height: 700px;
    background-image: url(platter\ food.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

/* Home content CSS ends here  */

/* Facilities CSS starts  */

#facilities{
    display: flex;
    justify-content: space-around;
    height: 300px;
    /* align-items: center; */
    background-color: rgb(80, 30, 30);
}


.facilityclass{
    text-align: center;
    margin-top: 25px;

}
#facilities img{
    height: 150px;  
}

.facilitypara1{
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 22px;
    font-weight: bolder;
}
.facilitypara2{
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 15px;
}


/* Facilities CSS ends  */








/* Footer CSS  */

#footer{
    display: flex;
    background-color: rgb(190, 117, 117);
    height: 50px;
    /* align-items: center;  */
    font-family: Georgia, 'Times New Roman', Times, serif; 
    color: white;
    justify-content: center;
    line-height: 60px; 
    
}

/* Services CSS Starts Here */

#servicescontent{
background-color: bisque;
display: flex;
flex-direction: column;
align-items: center;
}

.servicesbox{
    width: 590px;
    height: 400px;
    border: 2px solid brown;
    border-radius: 25px;
    margin: 10px;
    padding: 10px;
}

.servicesbox img{
    border-radius: 25px;
}

.servicesbox h5{
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 40px;
    font-weight: bolder;
}

.servicesbox p{
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 20px;
    font-weight: bolder;
}
/* Services CSS Starts Ends */


/* Contact Us CSS Starts Here */
#contactuscontent{
    height: 450px;
    background-image: url(Contact\ Us);
    background-position: bottom;
}

#contactuscontent h1{
    font-family: 'Lobster', cursive;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 65px;
    line-height: 200px;
}

/* Contact Us CSS Ends Here */






